body {
  overflow-x: hidden;
}

.project-wrap {
  display: flex;
  gap: 5rem;
  flex-direction: column;
}

.whats-for-dinner-container {
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
}

.whats-for-dinner {
  width: 20vw;
  margin-right: 10%;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 3;
  transition: ease-in 200ms;
}

.whats-for-dinner-text-container {
  width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: ease-in 200ms;
}

.chat-box-container {
  display: flex;
  justify-content: center;
}

.chat-box{
  width: 20vw;
  margin-left: 10%;
  border-radius: 2rem;
  z-index: 3;
  transition: ease-in 200ms;
}

.chat-box:hover, .whats-for-dinner:hover, .social-network:hover {
  scale: 1.1;
}

.chat-box-text-container {
  width: 50%;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  transition: ease-in 200ms;
}

.chat-box-text, .whats-for-dinner-text {
  font-size: 20px;
  width: 80%;
  max-width: 80%;
  cursor: default;
}

.chat-box-link {
  color: rgb(163, 116, 255);
  text-decoration: none;
}

.social-network-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: ease-in 200ms;
}

.social-network {
  width: 20vw;
  height: 20vh;
  margin-left: 10%;
  border-radius: 2rem;
  margin-top: 1rem;
  z-index: 3;
  cursor: pointer;
  transition: ease-in 200ms;
}



